version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.12.2
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: |
            npm run coverage
            bin/junit-merge test-results.xml test/fixtures/3.xml
            mkdir -p test-results/junit && cp merged-test-results.xml test-results/junit/junit/
            cp test-results.xml test-results/junit/
      - store_artifacts:
          path: test-results
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results.xml